NEXT_PUBLIC_HTTP_SRV_URL=http://localhost:3003
NEXT_PUBLIC_CHAT_SRV_URL=http://localhost:3001
NEXT_PUBLIC_WS_SRV_URL=ws://localhost:3002

# Cloudinary Configuration for Avatar Uploads
NEXT_PUBLIC_CLOUDINARY_URL=cloudinary://your_key:your_secret@your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=collab_avatars
