NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:3005
NEXT_PUBLIC_WS_SRV_URL=ws://localhost:3002

NEXT_PUBLIC_CLOUDINARY_URL=cloudinary://your_key:your_secret@your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=collab_avatars